.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 420px;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.123);
  padding: 40px 20px;
  margin: 40px 0 30px 0;
  border-radius: 8px;

  @media only screen and (max-width: 1000px) {
    width: 93%;
  }

  p {
    font-size: 25px;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
  }
}

.button {
  background-color: transparent;
  border: 1px solid #4A387D;
  color: #4A387D;
  padding: 12px 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 20px 0 0 0;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}

.forgetPassword {
  text-align: center;
  font-size: 15px;
  margin-top: 40px;
  color: #000;

  a {
    color: #4A387D;
  }

  a:hover {
    text-decoration: underline;
  }
}