.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 30px;
    background-color: #4A387D;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.123);
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 1300px;
    width: 100%;
}

.contentMenus {
    display: flex;
    flex-direction: row;
}

.menu {
    padding: 10px;
    margin-right: 5px;

    p {
        color: #fff;
        font-size: 15px;
        transition: 0.4s;
    }
}

.menu:hover {
    p {
        scale: 1.07;
    }
}