.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 420px;
  background-color: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.123);
  padding: 40px 20px;
  margin: 40px 0 30px 0;
  border-radius: 8px;

  @media only screen and (max-width: 1000px) {
    width: 93%;
  }

  p {
    font-size: 25px;
    font-weight: 300;
    color: #000;
    margin-bottom: 10px;
  }
}

.switch {
  position: relative;
  margin: 20px 0 20px 0;

  input[type="checkbox"] {
    visibility: hidden;

    &:checked {
      +label {
        background-color: #4a387d67;

        &:after {
          left: 27px;
        }
      }
    }
  }

  label {
    position: absolute;
    width: 40px;
    height: 20px;
    top: 0;
    left: 0;
    background-color: #eee;
    border-radius: 50px;

    &:after {
      content: '';
      width: 20px;
      height: 20px;
      background-color: #4A387D;
      position: absolute;
      left: -1px;
      top: -1px;
      border-radius: 50%;
      box-shadow: 0 0 4px #999;
    }
  }

  span {
    font-size: 15px;
    font-weight: 300;
    color: #000;
    margin-left: 43px;
  }
}

.button {
  background-color: transparent;
  border: 1px solid #4A387D;
  color: #4A387D;
  padding: 12px 10px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 20px 0 0 0;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
}

.back {
  text-align: center;
  font-size: 15px;
  margin-top: 30px;
  cursor: pointer;
  color: #4A387D;
}

.back:hover {
  text-decoration: underline;
}